body{
    margin:0;
    padding:0;
}
ul,
li{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width:1920px;
    min-width:360px;
    box-sizing: border-box;
    margin:0 auto;
}
nav > ul{
    width:100%;
    display:flex;
}
nav > ul > li{
    width: 33.3%;
    height:100px;
    background-color: #d9d9d9;
    text-align:center;
    box-sizing: border-box;
    cursor:pointer;
}
nav > ul > li > a{
    display:block;
    width:100%;
    height:100%;
    color:dimgrey;
    font-size:18px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    box-sizing: border-box;
    padding-top:32px;
    text-decoration: none;
}
nav > ul > li:hover{
    transition: background-color 2s;
    background-color: #0066ff;
}
.headers{
    text-align: center;
    width:33.3%;
    background-color: dimgrey;
    color:white;
}
.file,
.folder{
    width:100%;
    height:50px;
    /*background-color: #0066ff;*/
}
.folder{
    cursor:pointer;
}
.file:hover{
    transition: background-color 1s;
    background-color: #d9d9d9;
}
.folder:hover{
    transition: background-color 1s;
    background-color: orange;
}
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (width : 667px)
    and (height : 375px)
{
    table,
    nav > ul > li > a{
        font-size: 30px;
    }
    nav,
    table{
        width:1129px;
    /*    Тут обнаружен  косячок, за счет размера таблицы блок имеет ширину меньшуу(ту что необходимо), а таблица растягивается*/
    }
    .file,
    .folder{
        background-color: red;
        font-size:30px;
        height:150px;
    }
}