<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    {% block head %}#}
{##}
{#    {% endblock %}#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/style.css') }}"/>
</head>
<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li>
                    <a href="/" target="_blank">Home</a>
                </li>
                <li>
                    <a class="listDisk">
                        List items
                    </a>
                </li>
                <li>
                    <a class="emptyButton">Action</a>
                </li>
            </ul>
        </nav>
    <table>
        <thead>
            <tr>
                <th class="headers">Имя</th>
                <th class="headers">Тип</th>
                <th class="headers">Дата создания</th>
            </tr>
        </thead>
        <tbody>

            {% block content %}

            {% endblock %}

        </tbody>
    </table>
    </div>
    <script type="text/javascript" src="{{ url_for ('static', filename='js/src.js') }}"></script>
</body>
</html>